.users {
  box-sizing: border-box;
  width: 90%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.heading {
  align-self: start;
  margin: 0 0 10px;
  font-weight: 600;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 10fr;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 10px;
}

.userInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  height: 70px;
}

.userInfo h3 {
  margin: 0 0 7px;
  font-weight: 500;
}

.userInfo p {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}

.location p {
  margin: 0;
  opacity: 0.7;
  font-size: 14px;
}

.buttonFollow {
  border: 0;
  padding: 5px 15px;
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
}

.buttonFollow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonUnfollow {
  border: 0;
  padding: 5px 15px;
  background-color: rgb(93, 92, 92);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
}

.buttonUnfollow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
