.formWrapper {
  width: 100%;
}

.form {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  margin-right: 20px;
}

.form textarea {
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 10px;
  color: white;
}
.form span {
  font-size: 14px;
  color: rgb(184, 9, 9);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  padding-left: 10px;
}

.posts {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addPost {
  margin: 30px 0 10px;
  text-align: start;
  opacity: 0.8;
}

.button {
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
  margin: 15px 0 0;
  padding: 5px 0;
  border-radius: 10px;
  width: 10%;
  align-self: flex-start;
}
