.header {
  grid-area: header;
  background-color: rgb(39, 38, 37);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.header img {
  width: 50px;
  padding-left: 20px;
}

.logoWrapper {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  gap: 10px;
}

.loginWrapper {
  padding-right: 100px;
}

.signIn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
}

.loginWrapper button {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(149, 16, 16);
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.loginWrapper button:hover {
  opacity: 0.7;
}

.login {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding-bottom: 5px;
}

.signUp {
  margin-left: 10px;
  background-color: rgb(61, 95, 231);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
}
