.header {
  grid-area: header;
  background-color: rgb(124, 121, 115);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 50px;
  padding-left: 20px;
}

.loginWrapper {
  padding-right: 100px;
}

.loginWrapper a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
}

.loginWrapper button {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: rgb(149, 16, 16);
  color: white;
}
