.nav {
  background-color: rgb(124, 121, 115);
  grid-area: nav;
}

.list {
  padding: 0;
  list-style: none;
  padding-left: 20px;
}

.list li {
  margin-bottom: 10px;
}

.list li:last-child,
.list li:nth-child(5) {
  margin-top: 50px;
}

.link {
  color: white;
  text-decoration: none;
  transition: all 0.4s;
}

.link:hover {
  color: blueviolet;
}

.link_active {
  text-decoration: none;
  color: blueviolet;
}
