.img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.ava {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 15px;
}

.container {
  padding: 20px;
  display: flex;
}

.name {
  width: 150px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  padding: 2px 50px 2px 5px;
  border: 1px solid gray;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.status {
  width: 150px;
  margin: 0;
  padding: 5px 120px 5px 5px;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
