.img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.ava {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 15px;
}

.container {
  padding: 20px;
  display: flex;
}
