.post {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  justify-content: space-between;
}

.post h2 {
  margin: 20px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
}

.img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.like {
  width: 20px;
  margin-right: 5px;
}

.likewrapper {
  width: 60px;
  display: flex;
  align-items: center;
}

.likewrapper span {
  font-size: 12px;
}
