.post {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 8px;
  width: 50%;
  justify-content: space-between;
}

.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.like {
  width: 15px;
  margin-right: 5px;
}

.likewrapper {
  width: 40px;
  display: flex;
  align-items: center;
}
