.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper span {
  font-size: 12px;
  color: rgb(214, 6, 6);
}

.form {
  margin-top: 20px;
  width: 35%;
}

.inputWrapper {
  min-height: 65px;
}

.inputWrapper input {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: rgb(141, 66, 211);
  font-size: 16px;
}

.inputWrapper input::placeholder {
  color: white;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
}

.checkboxWrapper label {
  line-height: 1;
  font-size: 13px;
  color: rgb(53, 51, 169);
}

.checkboxWrapper button {
  margin-left: auto;
  padding: 10px 30px;
  border: none;
  background-color: rgb(53, 51, 169);
  color: white;
  border-radius: 10px;
  font-size: 16px;
}
