.app-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
    'header header'
    'nav content';
}

.header {
  grid-area: header;
  background-color: aquamarine;
}

.header img {
  width: 60px;
  padding-left: 20px;
}

.nav {
  background-color: aqua;
  grid-area: nav;
}

.list {
  padding: 0;
  list-style: none;
  padding-left: 20px;
}

.list li {
  margin-bottom: 10px;
}

.list li:last-child {
  margin-top: 50px;
}

.list a {
  text-decoration: none;
}

.content {
  background-color: blueviolet;
  grid-area: content;
}
