.app-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
    'header header'
    'nav content';
}

.app-wrapper-content {
  grid-area: content;
  background-color: rgb(137, 138, 138);
}
